body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.canvas-container {
  flex: 2;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.cytoscape-canvas {
  width: 100%;
  height: 100%;
  background: white;
}

.toolbar {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  flex: 0.5;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-feature,
.selected-nodes,
.create-button {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.reset-everything {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: red;
  color: white;
}

.layout-div {
  display: flex;
  flex-direction: column;
}

.lasso-tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lasso-tool2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#element {
  max-height: 100px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scroll */
  margin-top: 5px;
}

/* Table styles */
#element table {
  width: 100%;
  border-collapse: collapse;
}

#element table td {
  padding: 5px;
  border: 1px solid #ddd;
}

/* Mobile Design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .toolbar {
    order: 2; /* Moves the toolbar below the Cytoscape Canvas */
  }
  .sidebar {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .canvas-container {
    height: 50vh;
  }
}
